<header id="header" class="fixed-top header-scrolled">
    <div class="container d-flex align-items-center"> <a routerLink="/" class="logo me-auto">
      <h4><span class="material-symbols-outlined">
          heart_plus
        </span>&nbsp;HealthyWave </h4>
      </a>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" routerLink="dashboard">Home</a></li>
          <li><a class="nav-link scrollto" routerLink="appointmentlist">New Appointments</a></li> 
          <li><a class="nav-link scrollto" routerLink="#services">Services</a></li>
          <li><a class="nav-link scrollto" routerLink="#departments">Departments</a></li>
          <li><a class="nav-link scrollto" routerLink="#doctors">Doctors</a></li>
          <li><a class="nav-link scrollto" routerLink="#contact">Contact</a></li>
          <li class="dropdown"><a routerLink="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a routerLink="#">My Profile</a></li>              
                <li><a class="nav-link scrollto" routerLink="/logout">Logout</a></li>
            </ul>
          </li>

        </ul> <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  <br><br><br><br>
