<header id="header" class="fixed-top header-scrolled">
  <div class="container d-flex align-items-center"> <a routerLink="/" class="logo me-auto">
    <h4><span class="material-symbols-outlined">
        heart_plus
      </span>&nbsp;HealthyWave </h4>
    </a>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" routerLink="/">Home</a></li>
        <li><a class="nav-link scrollto" routerLink="#about">About</a></li>
        <li><a class="nav-link scrollto" routerLink="login">Login</a></li>
        <li><a class="nav-link scrollto" routerLink="#services">Services</a></li>
        <li><a class="nav-link scrollto" routerLink="#departments">Departments</a></li>
        <li><a class="nav-link scrollto" routerLink="#doctors">Doctors</a></li>
        <li class="dropdown"><a routerLink="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="#">Drop Down 1</a></li>
            <li class="dropdown"><a routerLink="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a routerLink="#">Deep Drop Down 1</a></li>
                <li><a routerLink="#">Deep Drop Down 2</a></li>
                <li><a routerLink="#">Deep Drop Down 3</a></li>
                <li><a routerLink="#">Deep Drop Down 4</a></li>
                <li><a routerLink="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a routerLink="#">Drop Down 2</a></li>
            <li><a routerLink="#">Drop Down 3</a></li>
            <li><a routerLink="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="#contact">Contact</a></li>
      </ul> <i class="bi bi-list mobile-nav-toggle"></i>
    </nav> <a routerLink="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span>
      Appointment</a>
  </div>
</header>