<!-- <section class="vh-100" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="card-body p-4 p-lg-6 text-black"> -->


<section id="contact" class="contact">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <form class="php-email-form" [formGroup]="appointmentForm" (ngSubmit)="addAppointment()">

                    <!-- <div class="d-flex align-items-center mb-3 pb-1">
                        <span class="material-symbols-outlined">
                            heart_plus
                          </span>
                      <span class="h1 fw-bold mb-0">HEALTHYWAVE</span>
                    </div> -->

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Add Appointment</h5>
                    <label class="form-label" for="form2Example17">Patient Details :</label>
                    <div class="row form-outline mb-4">
                        <div class="col-md-4">
                            <input type="text" id="form2Example17" formControlName="patientName" class="form-control"
                                placeholder="Patient Name" />
                            <span
                                *ngIf="appointmentForm.get('patientName')?.touched && appointmentForm.get('patientName')?.hasError('required')">Please
                                Enter Patient Name</span>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="form2Example17" formControlName="contact" class="form-control"
                                placeholder="Contact Number" />
                            <span
                                *ngIf="appointmentForm.get('contact')?.touched && appointmentForm.get('contact')?.hasError('required')">Please
                                Enter Contact Number</span>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="form2Example17" formControlName="email" class="form-control"
                                placeholder="email" />
                            <span
                                *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                Enter Email</span>
                        </div>
                    </div>

                    <div class="row form-outline mb-4">   
                        <div class="col-md-4">
                            <label class="form-label" for="form2Example17">Address</label>
                            <input type="text" id="form2Example17" formControlName="dob" class="form-control" placeholder="House Number, Street name" />
                            <!-- <span
                                                    *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                                    Enter Email</span> -->
                        </div>
                        <div class="col-md-4" >
                            <label class="form-label" for="form2Example17">State</label>
                            <select class="form-select" aria-label="Default select example" (change)="getCityByState($event)" formControlName="state">
                                <!-- <option selected disabled [ngValue]=""></option>Select State</option>  -->
                                <option *ngFor="let s of states" value="{{s.stateId}}" formControlName="stateId">{{s.stateName}}</option>
                            </select>
                        </div>
                        <div class="col-md-4" formGroupName="city">
                            <label class="form-label" for="form2Example17">City</label>
                            <select class="form-select" aria-label="Default select example" formControlName="cityId">
                                <option selected disabled>Select City</option>
                                <option *ngFor="let c of cities" value="{{c.cityId}}">{{c.cityName}}</option>
                                <!--<option value="staff">Staff</option> -->
                            </select>
                        </div>
                    </div>    

                    <div class="row form-outline mb-4">
                        <div class="col-md-4" formGroupName="doctor">
                            <label class="form-label" for="form2Example17">Doctor</label>
                            <select class="form-select" formControlName="doctorId" (change)="getDoctorId($event)">
                                <option selected disabled value="">Select Doctor</option>
                                <option *ngFor="let d of doctors" value="{{d.doctorId}}">Dr. {{d.user.firstName|uppercase}} {{d.user.lastName|uppercase}} - {{d.specialization.spcialization}}</option>
                                <!-- <option value="staff">Staff</option> -->
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="form2Example17">Date</label>
                            <input type="date" value="yyyy-mm-dd" (change)="getSlotByDateDoctor($event)" id="form2Example17" formControlName="date"
                                class="form-control" />
                            <span
                                *ngIf="appointmentForm.get('date')?.touched && appointmentForm.get('date')?.hasError('required')">Please
                                select Date </span>

                        </div>
                        <div class="col-md-4" formGroupName = "slot">
                            <label class="form-label" for="form2Example17">Slot</label>
                            <select class="form-select" formControlName="slotId">
                                <option value="" disabled selected>Select Slot</option>
                                <option *ngFor="let d of slots" value="{{d.slotId}}">{{d.time}}</option>
                                <!-- <option value="10:30 - 11:00">10:30 - 11:00</option>
                                <option value="11:00 - 11:30">11:00 - 11:30</option>
                                <option value="11:30 - 12:00">11:30 - 12:00</option>
                                <option value="12:00 - 12:30">12:00 - 12:30</option>
                                <option value="12:30 - 01:00">12:30 - 01:00</option>
                             <option class="bi bi-chevron-down">01:00 - 02:00  Lunch Time</option> 
                                <option value="02:00 - 02:30">02:00 - 02:30</option>
                                <option value="02:30 - 03:00">02:30 - 03:00</option>
                                <option value="03:00 - 03:30">03:00 - 03:30</option>
                                <option value="03:30 - 04:00">03:30 - 04:00</option>
                                <option value="04:00 - 04:30">04:00 - 04:30</option>
                                <option value="04:30 - 05:00">04:30 - 05:00</option> -->
                            </select>
                            <span
                            *ngIf="appointmentForm.get('slot')?.touched && appointmentForm.get('slot')?.hasError('required')">Please
                            select valid slot </span>

                        </div>
                    </div>

                    <div class="row form-outline mb-4">
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Birth Date</label>
                            <input type="date" id="form2Example17" formControlName="dob" class="form-control" placeholder="Birth Date" />
                            <!-- <span
                                                    *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                                    Enter Email</span> -->
                        </div>
                        <div class="col-md-6">

                            <label class="form-label" for="form2Example27">Gender</label>
                            <div class="radio">
                                <label><input type="radio" name="gender" formControlName="gender" value="male"
                                        checked>Male</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="gender" formControlName="gender"
                                        value="female">Female</label>
                            </div>
                            <!-- <span
                                *ngIf="appointmentForm.get('gender')?.touched && appointmentForm.get('gender')?.hasError('required')">Plese
                                Select Gender</span> -->
                        </div>
                    </div>

                    <div class="row form-outline mb-4"> 
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Reason</label>
                            <input type="text" id="form2Example17" formControlName="reason" class="form-control"
                                placeholder="Enter Reason Like Fever, cold" />
                            <span
                                *ngIf="appointmentForm.get('reason')?.touched && appointmentForm.get('reason')?.hasError('required')">Please
                                Enter Reason</span>
                        </div>
                        <div class="col-md-6">
                            <br>
                            <button class="btn btn-dark btn-lg btn-block" style="width: 100%;" type="submit">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->