<!-- <section class="vh-100" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="card-body p-4 p-lg-6 text-black"> -->


<section id="contact" class="contact">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <form class="php-email-form" [formGroup]="appointmentForm" (ngSubmit)="addAppointment()">

                    <!-- <div class="d-flex align-items-center mb-3 pb-1">
                        <span class="material-symbols-outlined">
                            heart_plus
                          </span>
                      <span class="h1 fw-bold mb-0">HEALTHYWAVE</span>
                    </div> -->

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Add Appointment</h5>
                    <label class="form-label" for="form2Example17">Patient Details :</label>
                    <div class="row form-outline mb-4">
                        <div class="col-md-4">
                            <input type="text" id="form2Example17" formControlName="patientName" class="form-control"
                                placeholder="Patient Name" />
                            <span
                                *ngIf="appointmentForm.get('patientName')?.touched && appointmentForm.get('patientName')?.hasError('required')">Please
                                Enter Patient Name</span>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="form2Example17" formControlName="contact" class="form-control"
                                placeholder="Contact Number" />
                            <span
                                *ngIf="appointmentForm.get('contact')?.touched && appointmentForm.get('contact')?.hasError('required')">Please
                                Enter Contact Number</span>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="form2Example17" formControlName="email" class="form-control"
                                placeholder="email" />
                            <span
                                *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                Enter Email</span>
                        </div>
                    </div>


                    <label class="form-label" for="form2Example17">Patient
                        Relative Details :</label>
                    <div class="row form-outline mb-4">
                        <div class="col-md-6">
                            <input type="email" id="form2Example17" formControlName="patientRelativeName"
                                class="form-control" placeholder="Patient Relative Name" />
                            <span
                                *ngIf="appointmentForm.get('patientRelativeName')?.touched && appointmentForm.get('patientRelativeName')?.hasError('required')">Please
                                Enter Patient Relative Name</span>
                        </div>


                        <div class="col-md-6">
                            <input type="text" id="form2Example17" formControlName="patientRelativeContact"
                                class="form-control" placeholder="Patient Relative Contact Number" />
                            <span
                                *ngIf="appointmentForm.get('patientRelativeContact')?.touched && appointmentForm.get('patientRelativeContact')?.hasError('required')">Please
                                Enter Relative Contact Number</span>
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        <div class="row form-outline mb-4">
                            <div class="col-md-6">
                                <label class="form-label" for="form2Example17">Reason</label>
                                <input type="text" id="form2Example17" formControlName="reason" class="form-control"
                                    placeholder="Enter Reason Like Fever, cold" />
                                <span
                                    *ngIf="appointmentForm.get('reason')?.touched && appointmentForm.get('reason')?.hasError('required')">Please
                                    Enter Reason</span>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label" for="form2Example17">Date</label>
                                <input type="date" value="yyyy-mm-dd" id="form2Example17" formControlName="dateTime"
                                    class="form-control" />
                                <span
                                    *ngIf="appointmentForm.get('dateTime')?.touched && appointmentForm.get('dateTime')?.hasError('required')">Please
                                    select Date </span>

                            </div>
                            <div class="col-md-3">
                                <label class="form-label" for="form2Example17">Slot</label>
                                <select  formControlName="slot"  class="form-control">
                                    <option value="10:00 - 10:30">10:00 - 10:30</option>
                                    <option value="10:30 - 11:00">10:30 - 11:00</option>
                                    <option value="11:00 - 11:30">11:00 - 11:30</option>
                                    <option value="11:30 - 12:00">11:30 - 12:00</option>
                                    <option value="12:00 - 12:30">12:00 - 12:30</option>
                                    <option value="12:30 - 01:00">12:30 - 01:00</option>
                                    <!-- <option class="bi bi-chevron-down">01:00 - 02:00  Lunch Time</option> -->
                                    <option value="02:00 - 02:30">02:00 - 02:30</option>
                                    <option value="02:30 - 03:00">02:30 - 03:00</option>
                                    <option value="03:00 - 03:30">03:00 - 03:30</option>
                                    <option value="03:30 - 04:00">03:30 - 04:00</option>
                                    <option value="04:00 - 04:30">04:00 - 04:30</option>
                                    <option value="04:30 - 05:00">04:30 - 05:00</option>
                                </select>
                                <span
                                *ngIf="appointmentForm.get('slot')?.touched && appointmentForm.get('slot')?.hasError('required')">Please
                                select valid slot </span>
                               
                                  
                                

                            </div>
                        </div>
                    </div>

                    <div class="row form-outline mb-4">
                        <div class="col-md-6">

                            <label class="form-label" for="form2Example27">Gender</label>
                            <div class="radio">
                                <label><input type="radio" name="gender" formControlName="gender" value="male"
                                        checked>Male</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="gender" formControlName="gender"
                                        value="female">Female</label>
                            </div>
                            <span
                                *ngIf="appointmentForm.get('gender')?.touched && appointmentForm.get('gender')?.hasError('required')">Plese
                                Select Gender</span>
                        </div>

                        <div class="col-md-6">
                            <button class="btn btn-dark btn-lg btn-block" style="width: 100%;" type="submit">Add
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->