<section id="contact" class="contact">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <form class="php-email-form">

                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"><b>Add Patient</b></h3>
                    <div class="row form-outline mb-4">
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Case Number</label>
                            <input type="text" id="form2Example17" formControlName="caseNumber" class="form-control"    />
                            <!-- <span
                                *ngIf="appointmentForm.get('patientName')?.touched && appointmentForm.get('patientName')?.hasError('required')">Please
                                Enter Patient Name</span> -->
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Patient Name</label>
                            <input type="text" id="form2Example17" formControlName="patientName" class="form-control"
                                placeholder="Patient Name" />
                            <!-- <span
                                *ngIf="appointmentForm.get('patientName')?.touched && appointmentForm.get('patientName')?.hasError('required')">Please
                                Enter Patient Name</span> -->
                        </div>
                        </div>
                        <div class="row form-outline mb-4">
                            <div class="col-md-6">
                                <label class="form-label" for="form2Example17">Patient Contact</label>
                                <input type="text" id="form2Example17" formControlName="contact" class="form-control"
                                    placeholder="Contact Number" />
                                <!-- <span
                                                        *ngIf="appointmentForm.get('contact')?.touched && appointmentForm.get('contact')?.hasError('required')">Please
                                                        Enter Contact Number</span> -->
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="form2Example17">Email</label>
                                <input type="text" id="form2Example17" formControlName="email" class="form-control" placeholder="email" />
                                <!-- <span *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                                        Enter Email</span> -->
                            </div>
                        </div>
                    
                    <div class="row form-outline mb-4">
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Patient Relative Name</label>
                            <input type="email" id="form2Example17" formControlName="patientRelativeName"
                                class="form-control" placeholder="Patient Relative Name" />
                            <!-- <span
                                *ngIf="appointmentForm.get('patientRelativeName')?.touched && appointmentForm.get('patientRelativeName')?.hasError('required')">Please
                                Enter Patient Relative Name</span> -->
                        </div>


                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Patient Relative Contact</label>
                            <input type="text" id="form2Example17" formControlName="patientRelativeContact"
                                class="form-control" placeholder="Patient Relative Contact Number" />
                            <!-- <span
                                *ngIf="appointmentForm.get('patientRelativeContact')?.touched && appointmentForm.get('patientRelativeContact')?.hasError('required')">Please
                                Enter Relative Contact Number</span> -->
                        </div>
                    </div>

                    <div class="row form-outline mb-4">
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Birth Date</label>
                            <input type="date" id="form2Example17" formControlName="dob" class="form-control" placeholder="Birth Date" />
                            <!-- <span
                                                    *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                                    Enter Email</span> -->
                        </div>
                        <div class="col-md-6">

                            <label class="form-label" for="form2Example27">Gender</label>
                            <div class="radio">
                                <label><input type="radio" name="gender" formControlName="gender" value="male"
                                        checked>Male</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="gender" formControlName="gender"
                                        value="female">Female</label>
                            </div>
                            <!-- <span
                                *ngIf="appointmentForm.get('gender')?.touched && appointmentForm.get('gender')?.hasError('required')">Plese
                                Select Gender</span> -->
                        </div>
                    </div>

                    <div class="row form-outline mb-4">                        
                        <label class="form-label" for="form2Example17"><b>Appointment Details :</b></label>
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Date</label>
                            <input type="date" id="form2Example17" formControlName="date" class="form-control"/>
                            <!-- <span
                                                    *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                                    Enter Email</span> -->
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Time</label>
                            <input type="time" id="form2Example17" formControlName="time" class="form-control"/>
                            <!-- <span
                                                    *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                                    Enter Email</span> -->
                        </div>
                    </div>

                    <div class="row form-outline mb-6">                        
                        <label class="form-label" for="form2Example17"><b>Address Details :</b></label>
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Address Line 1</label>
                            <input type="text" id="form2Example17" formControlName="dob" class="form-control" placeholder="House Number, Street name" />
                            <!-- <span
                                                    *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                                    Enter Email</span> -->
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Address Line 2</label>
                            <input type="text" id="form2Example17" formControlName="dob" class="form-control" placeholder="Near School/Hospital/Bank etc" />
                            <!-- <span
                                                    *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                                    Enter Email</span> -->
                        </div>
                    </div>

                    <div class="row form-outline mb-6">   
                        <div class="col-md-4">
                            <label class="form-label" for="form2Example17">Pincode</label>
                            <input type="number" id="form2Example17" formControlName="dob" class="form-control" placeholder="Pin Code" />
                            <!-- <span
                                                    *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">Please
                                                    Enter Email</span> -->
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="form2Example17">State</label>
                            <select class="form-select" aria-label="Default select example" formControlName="state">
                                <option selected disabled>Select State</option>
                                <!-- <option value="doctor">Doctor</option>
                                <option value="staff">Staff</option> -->
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="form2Example17">City</label>
                            <select class="form-select" aria-label="Default select example" formControlName="city">
                                <option selected disabled>Select City</option>
                                <!-- <option value="doctor">Doctor</option>
                                <option value="staff">Staff</option> -->
                            </select>
                        </div>
                    </div>    
                    <br>
                    <div class="row form-outline mb-6">   
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Ward</label>
                            <select class="form-select" aria-label="Default select example" formControlName="ward">
                                <option selected disabled>Select Ward</option>
                                <!-- <option value="doctor">Doctor</option>
                                <option value="staff">Staff</option> -->
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example17">Bed</label>
                            <select class="form-select" aria-label="Default select example" formControlName="bed">
                                <option selected disabled>Select Bed</option>
                                <!-- <option value="doctor">Doctor</option>
                                <option value="staff">Staff</option> -->
                            </select>
                        </div>
                        
                    </div>  
                    <br>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Reason</label>
                        <textarea  id="form2Example17" formControlName="reason" class="form-control"
                            placeholder="Enter Reason Like Fever, cold" ></textarea>
                        <!-- <span
                            *ngIf="appointmentForm.get('reason')?.touched && appointmentForm.get('reason')?.hasError('required')">Plese
                            Enter Reason</span> -->
                    </div>
                    <div class="row form-outline mb-6">
                        <label class="form-label" for="form2Example17">Symptoms :</label>
                        
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1"> 1    
                            <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                        </div>
                    </div>

                    <div class="row form-outline mb-4">
                        

                        <div class="col-md-6">
                            <button class="btn btn-dark btn-lg btn-block" style="width: 100%;" type="submit">Add
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>