<!-- <p>doctor-dashboard works!</p> -->
<main>
  <br><br>
  <section id="featured-services" class="featured-services">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a routerLink="">DOCTOR Dashboard Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4 class="title"><a routerLink="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fas fa-thermometer"></i></div>
            <h4 class="title"><a routerLink="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="fas fa-dna"></i></div>
            <h4 class="title"><a routerLink="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
 
  <section id="counts" class="counts">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box"> <i class="fas fa-user-md"></i> <span data-purecounter-start="0"
              data-purecounter-end="85" data-purecounter-duration="1" class="purecounter">0</span>
            <p><strong>Doctors</strong> consequuntur quae qui deca rode</p> <a routerLink="#">Find out more »</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box"> <i class="far fa-hospital"></i> <span data-purecounter-start="0"
              data-purecounter-end="26" data-purecounter-duration="1" class="purecounter">0</span>
            <p><strong>Departments</strong> adipisci atque cum quia aut numquam delectus</p> <a routerLink="#">Find out more
              »</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box"> <i class="fas fa-flask"></i> <span data-purecounter-start="0"
              data-purecounter-end="14" data-purecounter-duration="1" class="purecounter">0</span>
            <p><strong>Research Lab</strong> aut commodi quaerat. Aliquam ratione</p> <a routerLink="#">Find out more »</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box"> <i class="fas fa-award"></i> <span data-purecounter-start="0"
              data-purecounter-end="150" data-purecounter-duration="0" class="purecounter">150</span>
            <p><strong>Awards</strong> rerum asperiores dolor molestiae doloribu</p> <a routerLink="#">Find out more »</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<a routerLink="#" class="back-to-top d-flex align-items-center justify-content-center active"><i
    class="bi bi-arrow-up-short"></i></a>
    <script src="src/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="src/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="src/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="src/assets/js/main.js"></script>
    <script src="src/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="src/assets/vendor/aos/aos.js"></script>
    <script src="src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="src/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="src/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="src/assets/vendor/php-email-form/validate.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-P7JSYB1CSP"></script>
<script>if (window.self == window.top) { window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-P7JSYB1CSP'); }</script>