<!-- <p>doctor-layout works!</p> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
</head>

<body data-new-gr-c-s-check-loaded="14.1078.0" data-gr-ext-installed="" data-aos-easing="ease-in-out"
    data-aos-duration="1000" data-aos-delay="0">
    <app-top-bar></app-top-bar>
    <app-header></app-header>
    <div id="main">
        <router-outlet></router-outlet>

    </div>
    <footer id="footer">
    <app-footer></app-footer>
    </footer>
</body>

</html>